<!-- take word, check if in grid, check if in dictionary. -->
<!-- If all 3 calculate score -->
<!-- Generate response based on one of 3 options -->

<h1>RESULTS</h1>



<p><%= link_to "Play again!", new_path %></p>
